* {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: inline-block;
    border: 2px solid black;
    width: 40%;
}

.banner {
    background-image: url(../images/BWFilmIVBalcony.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 60, 0);
    padding: 300px 0;
    text-align: center;
    border-bottom: solid black 2px;
}

.bannertext {
    position: relative;
    top: -15px;
}

#name {
    font-size: 70px;
}

.bio {
    text-align: justify;
    width: 85%;
    margin: auto;
}

.film {
    width: 45%;
    display: inline-block;
}

#camerapic {
    display: block;
    margin: auto;
}

a:hover {
    border: solid black 5px;
}